/* .projimg{
    width: 200px;
    height: 100px;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
} */

.projects{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    padding: 5px;
    margin: 20px;
    height: auto;
    flex-wrap: wrap;
    display: flex;
}

.project-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    max-width: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;

  }
  .project-grid :hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px orangered;
  }
  
  .project {
    /* background: #fff; */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
  }
  
  .project img {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .project h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .project p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .project a {
    color: #00aaff;
    text-decoration: none;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width: 864px) {
    .project-grid {
        display: flex;
        flex-wrap: wrap;
    }
  }
  